RAW_DATA_PATH_USERS="<path>/Forestry TLS Team - Micro Certificate programs - RegistrationsBOT/0RawData/user_data.xlsx"
RAW_DATA_PATH_ENROLLMENTS="<path>/UBC/Forestry TLS Team - Micro Certificate programs - RegistrationsBOT/0RawData/enrollment.xlsx"
PROCESSED_DATA_PATH="<path>/UBC/Forestry TLS Team - Micro Certificate programs - StrongerBC Grant Eligibility Data/processed_data.xlsx"
REGISTRATIONS_FOLDER_PATH="<path>/UBC/Forestry TLS Team - Micro Certificate programs - RegistrationsBOT/"
ENROLLMENTS_HISTORY_PATH="<path>/UBC/Forestry TLS Team - Micro Certificate programs - RegistrationsBOT/0EnrollmentHistory/enrollments.xlsx"
BROWSER="Edge"
ORDERS_REGISTRATIONS_FOLDER_PATH ="<path>/UBC/Forestry TLS Team - Micro Certificate programs - RegistrationsBOT/"
CLAIMS_2023 ="<path>/UBC/Forestry TLS Team - Micro Certificate programs - FSG Student Management System 2023-2024/All UBC FSG Claims - 2023 Fall to 2024 Spring.xlsx"
CLAIMS_2024 ="<path>/UBC/Forestry TLS Team - Micro Certificate programs - FSG Student Management System 2024-2025/Forestry FSG Claims - 2024 Fall.xlsx"
