RAW_DATA_PATH_USERS="<path>/Forestry TLS Team - Micro Certificate programs - RegistrationsBOT/0RawData/user_data.xlsx"
RAW_DATA_PATH_ENROLLMENTS="<path>/UBC/Forestry TLS Team - Micro Certificate programs - RegistrationsBOT/0RawData/enrollment.xlsx"
PROCESSED_DATA_PATH="<path>/UBC/Forestry TLS Team - Micro Certificate programs - StrongerBC Grant Eligibility Data/processed_data.xlsx"
REGISTRATIONS_FOLDER_PATH="<path>/Forestry TLS Team - Micro Certificate programs - RegistrationsBOT/"
ENROLLMENTS_HISTORY_PATH="<path>/Forestry TLS Team - Micro Certificate programs - RegistrationsBOT/0EnrollmentHistory/enrollments.xlsx"